@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root{
    --CorBackground-Primay: rgb(20, 20, 20);
    --color-primary: #00f0c8;
    --color-secundary: #10737a;
    --color-white: #ffffff;
    --color-whitegray: #a9a9a9;
    --color-whitegray2: rgb(33, 33, 33);
    --tamanho-max: 1140px;
}


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
h1,h2,h3,h4{
    margin: 0;
}
body{
    overflow-x: hidden;
    font-family: 'Outfit', sans-serif;
    font-weight: 400;
    background-color: var(--CorBackground-Primay);
    color: var(--color-white);
    
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-thumb {
    background-color: var(--color-primary);
    border-radius: 8px;
}

::-webkit-scrollbar-track {
    background-color:var(--CorBackground-Primay);
}

header{
    z-index: 99;
    top: 0;
    position: fixed;
    width: 100%;
}

.header__Container{
    background-color:var(--CorBackground-Primay);
}

.container__nav{
    margin: auto;
    width: 80%;
    max-width: var(--tamanho-max);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
}

.container__nav img{
    height: 25px;
}

.nav__items{
    display: flex;
    gap: 30px;
    list-style: none;
}

.nav__items a {
    position: relative;
    font-size: 18px;
    text-decoration: none;
    color: var(--color-whitegray);
    transition: 0.2s ease-in;
}

.nav__items a:hover {
    font-size: 18.5px;
    color: var(--color-white);
}

.nav__items a::after{
content: "";
position: absolute;
width: 0;
transform: scaleX(1);
height: 1px;
bottom: -7px;
left: 0;
background: linear-gradient(270deg, var(--color-primary) 0%, #17161d 100%);
transform-origin: bottom right;
transition: width .5s cubic-bezier(0.86, 0, 0.07, 1);
}

.nav__items  a:hover::after {
    width: 100%; /* Alterado para 100% ao passar o mouse */
}

@keyframes navLinkFade {
    from {
        opacity: 0;
        transform: translateX(100px)
    }

    to {
        opacity: 1;
        transform: translateX(0)
    }
}

/* ---- main ---- */
main{
    margin-top: 0px;
}
.s-grid__container{
    max-width: var(--tamanho-max);
    background-color: var(--CorBackground-Primay);
    margin-top: 100px;
    margin: auto;
    width: 80%;
}
.container__home{
    display: flex;
    margin-top: 100px;
    align-items: center;
    min-height: calc(100vh + 100px - 14rem);
    /* padding: 250px 0px; */
    overflow: hidden;
    width: 100%;
}
.s-home__container-text h1{
    color:var(--color-white);
    font-size: 45px;
    max-width: 680px;
    font-weight: 400;
}

.s-home__container-text h1 span{
    color:var(--color-primary);
}

.s-home__container-text p{
    
    color: var(--color-whitegray);
    font-size: 20px;
    max-width: 600px;
    height: 70px;
    margin: 40px 0px;  
}



.paragrafo:after {
    content: "|";
    margin-left: 8px;
    opacity: 1;
    animation: blink 2s infinite;
    color: var(--color-primary);
}

@keyframes blink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.logoStroke {
    position: absolute;
    right: -28px;
    top: 48%;
    transform: translate(0%, -38%);
}
.logoStroke img{
    height: 400px;
}

/* ------------ ABOUT ME ------------ */
#s-about{
    height: 50em;
}
#s-about .s-grid__container>div{
    flex-wrap: wrap;
    background-color: #151515;
    border: 2px solid #1f1f1f;
    padding: 24px;
    border-radius: 4px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: auto;
}

.s-about__infos{
    flex-wrap: wrap;
    width: 47%;
}
.s-about__infos h4{
    color: var(--color-primary);
    font-size: 18px;
    font-weight: 400;
}

.s-about__infos h2{
    margin: 10px 0;
    font-size: 38px;
    font-weight: 500;
}


.s-about__infos h3{
    font-size: 20px;
    font-weight: 300;
}


.s-about__infos p{
    color: var(--color-whitegray);
    margin: 32px 0px 48px 0px;
    font-size: 18px;
    font-weight: 400;
    line-height: 23px;
    width: 100%;
}


#s-about .s-grid__container .s-about__img{
    width: 47%;
    background-image: url(../img/quem-sou-eu-photo1.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 4px;
    height: 500px;
}

.s-about__iconsSocial ul, li, a{
    list-style: none;
    text-decoration: none;
}

.s-about__iconsSocial ul {
    display: flex;
    gap: 40px;
}

.s-about__iconsSocial a {
    padding: 16px;
    background-color: var(--CorBackground-Primay);
    border: var(--color-whitegray2) 2px solid;
    border-radius: 10px;
    transition: 0.5s ease;
}

.s-about__iconsSocial a:hover {
    padding: 16px;
    background-color: var(--CorBackground-Primay);
    border: var(--color-primary) 2px solid;
    border-radius: 10px;
}

@media (max-width: 1345px) {
    .logoStroke{
        display: none;
    }

    .container__home{
       justify-content: center; 
    }

    #s-about .s-grid__container>div{
        flex-wrap: wrap; 
        gap: 32px   
    }
    #s-about .s-grid__container .s-about__img, .s-about__infos{
        width: 100%;
    }
    
    .s-about__iconsSocial>ul{
        flex-wrap: wrap;
        gap: 16px;
    }
}